@import 'reset.scss';
@import 'typography.scss';
@import 'github_buttons.scss';
@import 'notifications.scss';
@import 'modal.scss';

body {
  h1 {
    font-weight: 700;
  }
  ul {
    list-style-type: none;
  }

  a, a:visited {
    color: #0e7cc9;
    &:hover {
      color: #011e37;
    }
  }
}

.content-container {
  width: 400px;
  margin: 0 auto;
  .minor-group {
    .button {
      border: none;
    }
  }
}

.control-bar {
  padding-top: 10px;
  text-align: right;
  a, a:link, a:visited {
    color: #383838;
    text-decoration: none;
  }
  a:hover {
    color: #CCC;
  }
}

.task-list {
  text-align: center;
  .todos {
    width: 350px;
    display: inline-block;

    .todo {
      text-align: left;
			.todo-summary {
				font-weight: 600;
			}
			.todo-date {
        display: none;
        color: #545454;
			}
			.todo-time {
        color: #545454;
			}
      .todo-date-time {
        width: 150px;
        text-align: right;
      }
      &.important {
        .todo-summary {
          background-color: #fbfc95;
        }
        .todo-date {
          display: inline;
        }
      }

      &.done {
        opacity: 0.2;
      }
    }
  }

  .days-navigator {
    position: relative;

    .previous-day {
      position: absolute;
      left: 0px;
    }
    .next-day {
      position: absolute;
      right: 0px;
    }
  }
}
