<section class="control-bar">
  <a href="/sign_out">Sign out</a>
</section>

<section class="todos">
  <h1><%= date.humanize %></h1>

  <% if events.length.zero? %>
    <p>Nothing to do today..</p>
  <% else %>
    <ul class="events">
      <% events.each do |event| %>
        <li class="event">
          <strong class="event-summary"><%= event.summary %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <nav class="days-navigator">
    <%= link_to " &larr; previous day", date.prev_date_path, :class => "previous-day" %>
    <%= link_to "next day &rarr;", date.next_date_path, :class => "next-day" %>
  </nav>
</todos>
