<h1>Caldo</h1>

<p>Caldo is short for Calendar do, and it means soup in Spanish. It turns your
Google Calendar events into todo-lists. Upon marking them as complete, the event
will be immediately updated in Google calendar to visually reflect the change.</p>

<p><a href="/auth/google_oauth2" class="button big">Sign in using your Google Account</a></p>
